.canvas-container {

  .hair-settings {
    position:absolute;
    top:0px;
    right:0px;
    width:70px;
    box-sizing: border-box;
    padding:6px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color:#fff;

    p {
      margin:0;

      &.hair-caption {
        font-size:8px;

        &.top {
          margin-top:-5px;
          margin-bottom:160px;
        }
      }

      &.hair-colour {
        margin-bottom:5px;
      }
    }

    .clear-hair {
      margin:20px auto 0px auto;
    }
    img {
      width:70%;
      height:auto;
    }

    // range stuff - courtesy of http://danielstern.ca/range.css/

    input[type="range"] {
      position:absolute;
      top:140px;
      left:-39px;
      transform: rotate(270deg);
      width:210%;
    }

    input[type=range] {
      -webkit-appearance: none;
      //width: 100%;
      margin: 10px 0;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 10px;
      cursor: pointer;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      background: rgba(0, 0, 0, 0.36);
      border-radius: 1.3px;
      border: 0.2px solid rgba(0, 0, 0, 0.04);
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
      border: 1px solid rgba(0, 0, 0, 0.36);
      height: 30px;
      width: 30px;
      border-radius: 30px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -10.2px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: rgba(51, 51, 51, 0.36);
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 10px;
      cursor: pointer;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      background: rgba(0, 0, 0, 0.36);
      border-radius: 1.3px;
      border: 0.2px solid rgba(0, 0, 0, 0.04);
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
      border: 1px solid rgba(0, 0, 0, 0.36);
      height: 30px;
      width: 30px;
      border-radius: 30px;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 10px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: rgba(0, 0, 0, 0.36);
      border: 0.2px solid rgba(0, 0, 0, 0.04);
      border-radius: 2.6px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    }
    input[type=range]::-ms-fill-upper {
      background: rgba(0, 0, 0, 0.36);
      border: 0.2px solid rgba(0, 0, 0, 0.04);
      border-radius: 2.6px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    }
    input[type=range]::-ms-thumb {
      box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
      border: 1px solid rgba(0, 0, 0, 0.36);
      height: 30px;
      width: 30px;
      border-radius: 30px;
      background: #ffffff;
      cursor: pointer;
      height: 10px;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: rgba(0, 0, 0, 0.36);
    }
    input[type=range]:focus::-ms-fill-upper {
      background: rgba(51, 51, 51, 0.36);
    }


  }

}
