<div ng-include src="'app/includes/header.html'"></div>

<div class="container">

  <p>main view</p>

  <div class="canvas-container">

    <draw-on-canvas></draw-on-canvas>

  </div>
  
</div>

<div class="tools">
  <ul>
    <li><span class="pointer" ng-click="showHairModal()">hair</span></li>
    <li><span class="pointer" ng-click="showEyesModal()">eyes</span></li>
    <li><span class="pointer" ng-click="showDrawModal()">paint</span></li>
  </ul>
</div>

<div ng-include src="'app/includes/footer.html'"></div>
