<div ng-include src="'app/includes/header.html'"></div>

<div class="container">
  <div class="fb-like-container">
    <div class="fb-like" data-href="http://trumpsformation.com" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
  </div>
  <span class="instructions">Use your <span class="interaction-mobile">finger</span><span class="interaction-desktop">mouse</span> to draw hair on Don &blacktriangledown;</span>
  <trump-canvas></trump-canvas>
  <div class="share" ng-click="main.share()">Share</div>
</div>

<div class="share modal" ng-show="main.sharing">

  <p class="choose bottom-margin">Trumpsformed:</p>

  <div class="close" ng-click="main.sharing = false"></div>

  <a class="item" ng-href="{{main.download}}" download="trumpsformation.jpg">Download image</a>

</div>

<div ng-include src="'app/includes/footer.html'"></div>
