header {
  width:100%;

  img {
    width:100%;
    height:auto;
  }

  .trumpsformation {
    max-width:700px;
    width:100%;
    margin:0px auto;
    padding:20px 0px 10px 0px;
    box-sizing: border-box;
  }

  .corporate-swoosh {
    width:200px;
    margin:5px auto 10px auto;
  }

  @media screen and (max-width: 760px) {
    .trumpsformation {
      padding:10px 0 5px 0;
    }

    .corporate-swoosh {

      width:100px;

    }
  }

  @media screen and (max-width: 520px) {

    .trumpsformation {
      padding:10px;
    }

    .corporate-swoosh {

      margin:-5px auto 18px auto;

    }

  }


  .eclipse {
    position: absolute;
    width:100%;
    height:633px;
    top:-40px;
    left:50%;
    transform:translateX(-50%);
    background:url('../assets/images/eclipse.png') no-repeat center;
    z-index: -1;
    background-size:1600px 632px;
  }

  @media screen and (max-width: 760px) {
    .eclipse {
      top:-70px;
    }
  }

  @media screen and (max-width: 520px) {
    .eclipse {
      top:-100px;
    }
  }
}
