<div class="tools">
  <ul>
    <li><span class="pointer" ng-click="main.showHairModal()">pick hair</span></li>
    <li><span class="pointer" ng-click="main.showEyesModal()">eyes</span></li>
    <li><span class="pointer" ng-click="main.showMouthModal()">mouth</span></li>
    <li><span class="pointer" ng-click="main.showTanModal()">tan</span></li>
    <li><span class="pointer" ng-click="main.showDrawModal()">draw hair</span></li>
    <li><span class="pointer" ng-click="main.showBackgroundModal()">background</span></li>
  </ul>
</div>
