<div class="tools">
  <div class="tool" ng-click="tools.showHairStyles()"><img src="assets/images/hair-icon.png" />Choose hair</div>
  <div class="tool" ng-click="tools.showEyeStyles()"><img src="assets/images/eyes-icon.png" />Change eyes</div>
  <div class="tool" ng-click="tools.showMouthStyles()"><img src="assets/images/mouth-icon.png" />Change mouth</div>
<!--
  <div class="tool" ng-click="tools.showTanModal()">Change tan</div>
  <div class="tool" ng-click="tools.showBackgroundModal()">Change Bg</div>
-->
</div>
