/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@font-face {
 font-family: "ProximaNova-Bold";
 src: url("../assets/ProximaNova-Bold.otf");
}

html {
  // background:#003f76 url(../assets/images/bg.jpg) no-repeat bottom center fixed;
  // background-size:cover;
}
body {
  margin:0;
  padding:0;
  font-family: "ProximaNova-Bold";
  // overflow-x:hidden;
}

@media screen and (max-width: 760px) {
 body {
   padding:10px;
 }
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
