/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

html {
  height:100%;
}

body {
  height:100%;
  margin:0;
  padding:0;
  background:url(../assets/images/bg.jpg) no-repeat center;
  font-family: sans-serif;
  box-sizing: border-box;
  // overflow-x:hidden;
}

@media screen and (max-width: 760px) {
 body {
   padding:10px;
 }
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
